*{
    margin: 0px;
    padding: 0px;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #dfe6e9;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    height: 150px;
    width: 600px;
    color: white;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #2d3436;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.common{
    margin: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    user-select: none;
}

.hour{
    height: 100px;
    width: 100px;
}

.min{
    height: 100px;
    width: 100px;
}

.sec{
    height: 100px;
    width: 100px;
}


/*styling buttons */

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.btn{
    background-color: #2d3436;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 2.2rem;
    margin: 0px 20px ;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn:active{
    font-size: 2rem;
}