*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: inherit;
}

.nav{
    height: 10vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0984e3;
    font-size: 3rem;
    padding: 10px;
    border-bottom: 2px solid rgba(196, 196, 196, 0.486);
}

.main{

    height: 100vh;
    background-color: #dfe6e9;
}

.container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input{
    height: 20px;
    width: 300px;
}

.btn{
    font-size: 2rem;
    background-color: #0984e3;
    border: none;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    margin-bottom: 40px;
}

.pass{
    font-size: 2rem;
    border: 2px solid #00b894;
    padding: 10px 30px;
    cursor: text;
    border-radius: 10px;
    width: auto;
}